#p11 {
    margin-left: 150px;
    margin-top: 200px;
    font-family: 'Raleway', sans-serif;
    font-weight: 1500;
    font-size: 40px;

}

.connectWithMe .para1 {
    margin-top: 40px;
    display: flex;
    margin-left: 50px;
}

.connectWithMe .para2 {
    margin-top: 20px;
    display: flex;
    margin-left: 50px;
}

.connectWithMe .link1 img {
    margin: 8px 10px 10px 110px;
    width: 40px;
    height: 40px;
}

.connectWithMe .link2 img {
    margin: 5px 10px 10px 25px;
    width: 40px;
    height: 40px;
}

.connectWithMe .link3 img {
    margin: 5px 10px 10px 25px;
    width: 40px;
    height: 40px;
}

.connectWithMe .link4 img {
    margin: 5px 10px 10px 110px;
    width: 40px;
    height: 40px;
}

.connectWithMe .link5 img {
    margin: 5px 10px 10px 25px;
    width: 40px;
    height: 40px;
}

.connectWithMe .link6 img {
    margin: 5px 10px 10px 25px;
    width: 280px;
    height: 40px;
}

@media screen and (max-width:600px){
    #p11 {
        margin-left: 25px;
        margin-top: 100px;
        font-family: 'Raleway', sans-serif;
        font-weight: 1500;
        font-size: 40px;
    
    }
    .connectWithMe .para1 {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .connectWithMe .para2 {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }
    .connectWithMe .link1 img {
        margin-left: 25px;
        width: 40px;
        height: 40px;
    }
    .connectWithMe .link4 img {
        margin-left: 25px;
        width: 40px;
        height: 40px;
    }
}
