.contactInfo {
    padding-top: 150px;
    margin-left: 20px; 
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.contactInfo h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.mb-3 {
    text-align: center;
    padding: 6px;
    font-weight: 900;
    font-size: 20px;
    margin: 12px auto;
}

.form-text {
    font-size: 12px;
    font-weight: 500;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(16, 23, 49);
    font-weight: bold;
    font-size: 12px;
    margin-top: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: rgb(16, 23, 49);
}

.cpRights {
    width: 100vw;
    text-align: center;
    margin-top: 95px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.frm{
    /* border: 2px solid black; */
    max-width:60vh;
    height: 40vh;
    margin: auto;
    padding: 20px;
}
